# === Git ignore list ===

# Environment variables
.env

# Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log

# Build & cache
dist/
build/
.cache/
.tmp/

# System files
.DS_Store
Thumbs.db
